@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto+Mono:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Roboto Mono', monospace;
  overflow-x: hidden;
  /* letter-spacing: 5px; */
  margin: 0;
  background-color: #18191A;
  color:white;
}

.description::-webkit-scrollbar { 
  width: 5px;
}
.description::-webkit-scrollbar-track {
  background: #18191A; 
}
.description::-webkit-scrollbar-thumb {
  background: white; 
}
::-webkit-scrollbar-thumb:hover {
  background: #a4a3a3; 
}

.centralBody{
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-height: 80vh;
  width: 50%;
}

h2 {
  font-size: 1.5rem;
}
.center{
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .description::-webkit-scrollbar { 
    width: 1px;
  }
  .centralBody{
    width: 95%;
  }
  .no_highlights{
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  h2 {
    font-size: 1.15rem;
  }
}
